Checks: >
    -*,
    bugprone-*,
    clang-analyzer-*,
    cppcoreguidelines-*,
    misc-*,
    modernize-*,
    performance-*,
    portability-*,
    readability-*,
    -cppcoreguidelines-avoid-const-or-ref-data-members,
    -cppcoreguidelines-pro-bounds-avoid-unchecked-container-access,
    -cppcoreguidelines-pro-bounds-pointer-arithmetic,
    -misc-no-recursion,
    -misc-non-private-member-variables-in-classes,
    -modernize-use-trailing-return-type,
    -performance-enum-size,
    -portability-avoid-pragma-once,
    -readability-identifier-length,
WarningsAsErrors: '*'
